<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');

h1 { 
    color: white; 
    width: 100vw; 
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.form-submit-button {
    background: #005ab6;
    color: white;
    height: 40px;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px
    text-shadow:none;
    border-radius: 5px;
}

.form-box { 
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

</style>


<h1>Edit Story</h1>

<%= render 'form', story: @story %>

<%= link_to 'Back', root_path %>
<%= link_to 'Preview', preview_story_path(@story) %> 

